# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/run_tests
progs/server
progs/client
progs/sendfile
progs/recvfile

# Temporary things
temp/
assets/recvfile

# Tags
tags

# Git
.git/
.gitignore
